@font-face{font-family:Cubic;src:local("Cubic-11"),url(font/Cubic_11.woff2) format("woff2"),url(font/Cubic_11.woff) format("woff")}
:root{--primary-brown:#67554F;--Dark-brown:#433733;--bg-brown:#ECE7E1;--secondary:#FFB700;--red:#E03737;--orange:#FF6422;--bg-y:#FFF4E7}
*{font-family:"Press Start 2P",system-ui;font-weight:400;font-style:normal;font-size:10px;line-height:16px;color:var(--Dark-brown)}
.Cubic{font-family:Cubic,system-ui,-apple-system,sans-serif;font-size:16px}

.fz-8{font-size: 9;}
.fz-9{font-size: 9px;}
.fz-10{font-size: 10px;}
.fz-12{font-size: 12px;}
.fz-14{font-size: 14px;}
.fz-16{font-size: 16px;}
.fz-18{font-size: 18px;}
.fz-20{font-size: 20px;}

.lh-24{line-height: 24px;}
.lh-150{line-height: 1.5;}

.ls-35{letter-spacing:0.35em;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.color-y{color: var(--secondary);}
.color-pb{color: var(--primary-brown);}
.color-db{color: var(--Dark-brown);}
.color-white{color: #FFF!important;}

.stroke_text{
  color: white;
  -webkit-text-stroke: 8px var(--Dark-brown);
  paint-order: stroke fill;
  padding-left: 4px;
}
.stroke_text_y{
  color: var(--secondary);
  -webkit-text-stroke: 5px var(--Dark-brown);
  paint-order: stroke fill;
  padding-left: 3px;
  letter-spacing: 0.15em;
}
/* 文字通用-end */

/* layout */
.d-flex{display: flex;}
.flex-col{flex-direction: column;}
.gap-24{gap: 24px;}
.gap-16{gap: 16px;}
.gap-8{gap: 8px;}
.gap-4{gap: 4px;}
.jc-c{justify-content: center;}
.al-c{align-items: center;}
.al-s{align-items: flex-start;}
.pd-8{padding: 8px;}
.mgt-20{margin-top: 20px;}
.cusor{cursor: pointer;}
.w100{width: 100%;}

/* 通用元件樣式 */
.pixel_8_lightbox{box-shadow:-8px 0 0 var(--primary-brown),8px 0 0 var(--primary-brown),0 -8px 0 var(--primary-brown),0 8px 0 var(--primary-brown);border:5px solid var(--Dark-brown);background:var(--bg-y);margin:8px}
.pixel_4_lightbox{box-shadow:-4px 0 0 var(--Dark-brown),4px 0 0 var(--Dark-brown),0 -4px 0 var(--Dark-brown),0 4px 0 var(--Dark-brown);background:var(--primary-brown);margin:4px}
.pixel_box_primary{box-shadow:-2px 0 0 var(--primary-brown),2px 0 0 var(--primary-brown),0 -2px 0 var(--primary-brown),0 2px 0 var(--primary-brown);background-color:var(--primary-brown);letter-spacing:.12em;padding:0 8px}
.pixel_box_dark{box-shadow:-2px 0 0 var(--Dark-brown),2px 0 0 var(--Dark-brown),0 -2px 0 var(--Dark-brown),0 2px 0 var(--Dark-brown);background-color:var(--Dark-brown);letter-spacing:.12em;padding:0 8px}

button{width:100%;max-width:200px;padding:8px 20px;background:var(--secondary);border:2px solid #fff;box-shadow:0 4px 4px rgba(103,85,79,.4),0 0 0 2px #413531;color:#fff;-webkit-text-stroke:4px var(--Dark-brown);paint-order:stroke fill;line-height:24px;font-size:14px;letter-spacing:.12em;cursor:pointer;margin:2px}
button#register-btn{background:var(--primary-brown)}
button#logout-btn{background:var(--red)}
button#viewleaderboard{background:var(--orange)}

/* 佈局 */
body {width: 100%;height: 100dvh;overflow: hidden;background-color: #ECE7E1;margin: 0;padding: 0;}

.FlappyCapyCavy_Game{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100dvh;
  height: 100dvh;
  background: #ECE7E1;
}

.container{
  max-width: 600px;
  width: 100%;
  height: 100dvh;
  position: relative;
  background: #ECE7E1 url(img/bg_bottom.png) no-repeat bottom center / 100% 150px;
  position: relative;
}
.container::before{
  content:'';
  position: absolute;
  background:url(img/bg_middle.png) no-repeat center bottom 150px / 100%;
  width: 100%;
  height: 100%;
}

/* 登入註冊 */
.log_page{
  width: 100%;
  height: 100dvh;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
}
input {
  width: 80%;
  padding: 10px;
  margin: 10px 0!important;
  display: block;
  font-size: 12px;
  color: #FFF;
}
::placeholder,::-webkit-input-placeholder{
  color: var(--bg-brown);  /* 灰色文字 */
  font-size: 12px;
  font-family: 'Cubic', system-ui, -apple-system, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* 透明背景 */
    -webkit-box-shadow: 0 0 0 30px var(--primary-brown) inset, -4px 0px 0px var(--Dark-brown), 4px 0px 0px var(--Dark-brown), 0px -4px 0px var(--Dark-brown), 0px 4px 0px var(--Dark-brown);
    -webkit-text-fill-color: #FFF;
}
.log_page p{
  margin-bottom: 16px;
}
button#login-btn-sent, button#register-btn-sent{
  margin-top: 24px;
}
button#cancel-btn{
  background: var(--red); 
  margin-top: 12px;     
}



/* 頂部導航欄 */
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  padding: 8px;
  z-index: 2;
  align-items: center;
}
.navbar #user-status {
  position: relative;
  display: flex;
  padding: 4px 0px;
  gap: 8px;
}
.navbar img{
  width: 50px;
  height: 50px;
}
.navbar #leaderboard-icon {
  background:url(img/avator_machi.png) no-repeat center center / 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/* 暫停box */
#pause-box{
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 999;
}
#pause-box img{width: 60px;height: 60px;}

/* 遊戲進行時的分數 */
#showscore-status{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  z-index: 997;
}
#showscore-status span{
  font-size: 36px;
  line-height: 40px;
}

/* 按鈕文字區域 */
.default_page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  z-index: 998;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
}
.game_container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Lightbox 样式 */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox-content {
  padding: 16px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}
/* gameover視窗 */
.gameover .stroke_text_y{
  min-width: 100px;
}
.gameover p{
  justify-content: space-between;
  min-width: 130px;
  width: 100%;
}

/* profile-modal */
.avator_btn{
  position: absolute;
  top: -28px;
  left: -4px;
  padding: 4px 12px;
  color: #FFF;
  box-shadow: -4px 0px 0px var(--Dark-brown), 4px 0px 0px var(--Dark-brown), 0px -4px 0px var(--Dark-brown), 0px 4px 0px var(--primary-brown);
  z-index: 999;
  font-size: 12px;
  line-height: 16px;
}

#avatar-selection{
  margin-top: 32px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px;
  gap: 8px 0;
}
.avatar-option {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
/* profile-modal */

.resurrection, #game-over-message{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  z-index: 999;
  width: max-content;
}


#avatar-hint{
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 4px;
}

/* 按鈕文字區域end */

/* leaderboard */

.leaderboard .lightbox-content{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0;
  max-width: unset;
  padding: 16px 0 60px 0;
  gap: 24px;
  background: #ECE7E1;
}
.leaderboard .lightbox-content .playrank{
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.leaderboard-item, .user-rank-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-brown);
  color: #FFF;
  box-shadow: -4px 0px 0px #554641, 4px 0px 0px #554641, 0px -4px 0px #554641, 0px 4px 0px #554641;
  margin: 4px;
  padding-right: 10px;
  max-width: 100%;
}
.user-rank-item{
  background: #BAA097;
  height: 100%;
  filter: drop-shadow(0px -4px 4px rgba(65, 53, 49, 0.5));
}
.user-rank-item.not-ranked p{
 width: 100%;
}
.user-rank-item .player-rank{
  background-color: #655651;
  line-height: 60px;
}
.user-rank-item .player-rank, .user-rank-item .player_left{
  height: 100%;
}
.leaderboard-item img,.user-rank-item img{
  width: 48px;
  height: 48px;
  flex: none;
}
.player_left{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 6px;
  max-width: 100%;
  overflow: hidden;
}
.player-rank{
  width: 48px;
  display: inline-block;
  height: 48px;
  text-align: center;
  line-height: 48px;
  color: #FFF;
  font-size: 12px;
  background-color:#554641;
  flex: none;
}
.player-info{
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  margin-right: 8px;
}
.player-score{
  min-width: 50px;
}
.player_username{
  text-align: left;
  overflow-x: scroll;
  max-width: 100%;
  width: 100%;
}
.top-three .player_username{
  font-size: 7px;
  overflow-x: scroll;
  text-align: center;
  max-width: 100%;
  width: 100%;
}
.leaderboard .top-three{
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 100%;
  height: 150px;
}

.leaderboard .top-three .leaderboard-item{
  flex-direction: column;
  gap: 10px;
  padding: 8px 4px;
  justify-self: center;
  flex: 1;
  margin: 4px;
  width: 100%;
  max-width: calc(33% - 8px);
  height: fit-content;
  border: 3px solid #957F78;
  position: relative;
}
.leaderboard .top-three .leaderboard-item:before{
  content: '';
  position: absolute;
  background: url(img/no1.svg) no-repeat center center / 23px 31px;
  width: 23px;
  height: 31px;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}
.leaderboard .top-three .leaderboard-item:nth-child(1) {order: 2; /* 第一個元素移到中間 */}
.leaderboard .top-three .leaderboard-item:nth-child(2){order: 1; /* 第二個元素移到最左邊 */}
.leaderboard .top-three .leaderboard-item:nth-child(2):before{background: url(img/no2.svg) no-repeat center center / 23px 31px;}
.leaderboard .top-three .leaderboard-item:nth-child(3) {order: 3; /* 第三個元素保持在最右邊 */}
.leaderboard .top-three .leaderboard-item:nth-child(3):before{background: url(img/no3.svg) no-repeat center center / 23px 31px;}

.leaderboard .top-three .player-info{flex-direction: column;margin-right: 0;}
.leaderboard .top-three .leaderboard-item .player-rank{display: none;}

.leaderboard .lightbox-content .playrank .top-three > div:not(:nth-child(1)){
  margin-top: 34px;
}
.leaderboard .lightbox-content .playrank .other-ranks{
  overflow-y: scroll;
  height: calc(100dvh - 314px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 2px;
  padding-bottom: 12px;
}
.leaderboard .lightbox-content .user_rank{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

/* 使用教學box */
.owl_guide_outer{
  width: 80%;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot,
.owl-theme .owl-nav [class*=owl-]:hover{
  background: none;
  box-shadow: none;
  width: fit-content;
}
.owl-theme .owl-nav{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 15px));
    display: flex;
    justify-content: space-between;
    width: 130%;
    border: 0;
    margin-top: 0;
}
.owl-carousel .owl-stage-outer{z-index: 2;}