/* 通用 */
@font-face {
  font-family: Cubic;
  src:
  local("Cubic-11"),
  url(./font/Cubic_11.woff2) format("woff2"),
  url(./font/Cubic_11.woff) format("woff")
}

:root{
  --primary-brown:#67554F;
  --Dark-brown:#433733;
  --bg-brown:#ECE7E1;
  --secondary:#FFB700;
  --red:#E03737;
  --orange:#FF6422;
  --bg-y:#FFF4E7;
}

/* 文字通用 */
*{
  font-family: "Press Start 2P", system-ui; /* 設定字型 */
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
}
.Cubic{
  font-family: 'Cubic', system-ui, -apple-system, sans-serif;
  font-size: 16px;
}
.fz-8{font-size: 9;}
.fz-9{font-size: 9px;}
.fz-10{font-size: 10px;}
.fz-12{font-size: 12px;}
.fz-14{font-size: 14px;}
.fz-16{font-size: 16px;}
.fz-18{font-size: 18px;}
.fz-20{font-size: 20px;}

.lh-24{line-height: 24px;}
.lh-150{line-height: 1.5;}

.ls-35{letter-spacing:0.35em;}

.color-y{color: var(--secondary);}
.color-pb{color: var(--primary-brown);}
.color-db{color: var(--Dark-brown);}
.color-white{color: #FFF;}

.pixel_lightbox{
  box-shadow: -8px 0px 0px var(--primary-brown),
  8px 0px 0px var(--primary-brown),
  0px -8px 0px var(--primary-brown),
  0px 8px 0px var(--primary-brown);
  border: 5px solid var(--Dark-brown);
  background: var(--bg-y);
}

.stroke_text{
  color: white;
  -webkit-text-stroke: 8px var(--Dark-brown);
  paint-order: stroke fill;
}
/* layout */
.d-flex{display: flex;}
.flex-col{flex-direction: column;}
.gap-24{gap: 24px;}
.gap-16{gap: 16px;}
.gap-8{gap: 8px;}
.gap-4{gap: 4px;}
.jc-c{justify-content: center;}
.al-c{align-items: center;}

/* btn */
button{
  width: 100%;
  max-width: 200px;
  padding: 8px 20px;
  background: var(--secondary);
  border: 2px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(103, 85, 79, 0.4), 0px 0px 0px 2px #413531;
  color: white;
  -webkit-text-stroke: 4px var(--Dark-brown);
  paint-order: stroke fill;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.12em;
}
button#register-btn{
  background:var(--primary-brown);
}
button#logout-btn{
  background: var(--red);
}
button#viewleaderboard{
  background: var(--orange);
}

body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: #ECE7E1; /* 淺灰色背景 */
  margin: 0;
  padding: 0;
}
body *{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  color: #333; /* 深灰色 */
  font-size: 20px;
}

/* navbar */
.pixel_box_primary{
  box-shadow: -2px 0px 0px var(--primary-brown),
  2px 0px 0px var(--primary-brown),
  0px -2px 0px var(--primary-brown),
  0px 2px 0px var(--primary-brown);
  background-color: var(--primary-brown);
  letter-spacing: 0.12em;
  padding: 0 8px;
}

/* 登入註冊 */
.log_page{
  width: 100%;
  height: 100dvh;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column
}


input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}



#user-status {
  position: relative;
  display: flex;
  padding: 4px 0px;
  gap: 8px;
}

#user-avator{
  width: 50px;
  height: 50px;
}

/* 頂部導航欄 */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  height: 36px;
  position: relative;
  z-index: 999;
}
.navbar span{
  font-size: 14px;
  line-height: 36px;
}

/* 排行榜圖示的位置 */
#leaderboard-icon {
  background:url(img/avator_machi.png) no-repeat center center / 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 8px;
  top: 8px;
}

/* 屏幕右側的LOGO */
#game-logo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #4CAF50;
}


.FlappyCapyCavy_Game{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100dvh;
  height: 100dvh;
  background: #ECE7E1;
}

.container{
  max-width: 600px;
  width: 100%;
  height: 100dvh;
  position: relative;
  background: #ECE7E1 url(img/bg_bottom.png) no-repeat bottom center / 100% 150px;
  position: relative;
}
.container::before{
  content:'';
  position: absolute;
  background:url(img/bg_middle.png) no-repeat center bottom 150px / 100%;
  width: 100%;
  height: 100%;
}
#navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  padding: 8px;
  z-index: 2;
  align-items: center;
}

#showscore-status{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  z-index: 997;
}
#showscore-status span{
  font-size: 36px;
  line-height: 40px;
  color: #e8dbd5;
  text-shadow: 1px 1px #625c59,2px 2px #625c59,3px 3px #625c59,4px 4px #625c59;

}
.default_page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  z-index: 998;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
}
.game_container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game_container #game-charactor{
  width: 50px;
  height: auto;
  position: absolute;
  left: 10%;
  top:50%;
  transform: translateY(-50%);
}



/* Lightbox 样式 */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox-content {
  background: #e0d5d2;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border: 6px solid #413531;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.avatar-option {
  cursor: pointer;
  width: 60px;
  height: 60px;
}

/* leaderboard */
.leaderboard .lightbox-content{
  position: relative;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leaderboard .close-btn.btn_fixed{
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: #3d3835;
  font-size: 12px;
  line-height: 30px;
  color: #FFF;
  margin: 0;
  padding: 0;
  border-radius: 0;
}


#pause-box{
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 16px;
  z-index: 999;
}

.resurrection{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  z-index: 999;
}

#avatar-hint{
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 4px;
}
